h2{
    color:black;
}

    

.thumbnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;

    padding: auto;
}
.stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.stat{
    
    border-top:solid;
    border-bottom:solid;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

}
.bold{
    font-weight: bold;
}
#highlight{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}
.circle{
    border: solid white ;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.highrect{
    width: 12vw;
    height: 12vw;

}
#profile{
    width: 15vw;
    height: 15vw;
}
.high_text{
    text-align: center;
}
.high_margin{
    margin-left: auto;
    margin-right: auto;
}
.thumb_rect{
    width: 100%;
    height: 100%;
}
#profile-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 10px;
    
}
.pro_img{
    margin-top: 15px;
}
#searcher{
    height: 8vw;
    margin-top: 1vw;

    min-height: 5vw;
}
#main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  
    height: 9vw;
}
#f1{
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 17vw;
    
}
#ccunij{
    font-size: 7vw;
    margin-top: 10px;
    font-weight: bold;

}
#insta{
    margin-top: 5px;
    width: 25vw;
}
#intro{
    font-size: 2.8vw;
}

#a{
    width: 10vw;
}
#ing{
    display: grid;
    grid-template-rows: 1fr fr;
    
}
.ab{
    font-size: 3.5vw;
}